.kreiranjeaktivnosti1 h1{
    text-align: center;
}

.kreiranjeaktivnosti1 li{
    text-align: left;
    font-size: 20px;
    padding: 1rem;
}

.kreiranjeaktivnosti1 input {
    border: 2px solid #010101;
    border-radius: 10px;
    height: 2rem;
    margin-left:1rem;
}

.kreiranjeaktivnosti1 h4{
    text-align: center;
    font-style: italic;
}

.uspesnaaktivnost{
    display: grid;
    place-items: center;
}

.puspesnokreiranaaktivnost{
    background-color: #b11017;
    display: flex;
    min-width: 30%;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 3rem 2rem;
    border-radius: 50px;
    border:5px solid #010101;
    color: #fafafa;
}

.puspesnokreiranaaktivnost p{
    font-size: 30px;
}

.puspesnokreiranaaktivnost a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #010101;
    border: 2px solid #010101;
    padding: 0.7rem 2rem;
    background-color: #fafafa;
    border-radius: 15px;
}

.puspesnokreiranaaktivnost a:hover {
    background-color: #010101;
    border: 2px solid #fafafa;
    color: #fafafa;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.kreiranjeaktivnosti1 button{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #010101;
    border: 2px solid #010101;
    padding: 0.7rem 2rem;
    background-color: #fafafa;
    border-radius: 15px;
}

.kreiranjeaktivnosti1 button:hover {
    background-color: #b11017;
    border: 2px solid #010101;
    color: #fafafa;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.butfix{
    display: flex;
    flex-direction: column;
    width: 15%;
}

.butfix a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #010101;
    border: 2px solid #010101;
    padding: 0.7rem 2rem;
    background-color: #fafafa;
    border-radius: 15px;
    text-align: center;
    margin-top: 1rem;
}

.butfix a:hover {
    background-color: #b11017;
    border: 2px solid #010101;
    color: #fafafa;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}