.ucionicapage{
    display: flex;
    justify-content: space-around;
}

.termintabela h1{
    text-align: center;
}

.termintabela h3{
    text-align: left;
}

.termintabela li{
    padding: 1rem;
}

.termintabela input {
    border: 2px solid #010101;
    border-radius: 10px;
    height: 2rem;
    margin-left:1rem;
}

.ucioniceTabela{
    width: 100%;
}

.naslovtermin1{
    text-align: center;
}

.ucioniceTabela button{
    font-weight: bold;
    text-decoration: none;
    color: #010101;
    border: 2px solid #010101;
    padding: 0.7rem 3rem;
    background-color: #fafafa;
    border-radius: 15px;
    font-size: 16px;
}

.ucioniceTabela button:hover{
    background-color: #b11017;
    border: 2px solid #010101;
    color: #fafafa;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.uspesnotermin{
    display: grid;
    place-items: center;
}

.termin1{
    background-color: #b11017;
    display: flex;
    min-width: 30%;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 3rem 2rem;
    border-radius: 50px;
    border:5px solid #010101;
    color: #fafafa;
}

.termin1 h2{
    font-size: 30px;
}

.termin1 a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #010101;
    border: 2px solid #010101;
    padding: 0.7rem 2rem;
    background-color: #fafafa;
    border-radius: 15px;
}

.termin1 a:hover {
    background-color: #010101;
    border: 2px solid #fafafa;
    color: #fafafa;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}