.missingsection{
    display: grid;
    place-items: center;
}

.missingstrana{
    background-color: #b11017;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 3rem 2rem;
    border-radius: 50px;
    border:5px solid #010101;
    color: #fafafa;
    width: 30%;
}

.missingstrana h1{
    font-size: 40px;
}

.missingstrana p{
    margin-bottom: 2rem;
}

.flexGrow a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #010101;
    border: 2px solid #010101;
    padding: 0.7rem 3rem;
    background-color: #fafafa;
    border-radius: 15px;
    text-align: center;
}

.flexGrow a:hover{
    background-color: #010101;
    border: 2px solid #fafafa;
    color: #fafafa;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}